# --- Python (RK3588) ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env
.vscode/

# --- Keil / STM32 (Hardware) ---
# 编译与中间产物
*.o
*.d
*.crf
*.dep
*.axf
*.htm
*.lnp
*.sct
*.lst
*.map
*.iex

# Keil 用户/界面状态文件
*.uvguix.*
*.uvoptx

# 保留工程文件
# *.uvprojx

# --- Local history / editor temp ---
.history/
**/.history/

# --- Logs / runtime ---
*.log

# --- OS files ---
.DS_Store
Thumbs.db

# --- Private docs ---
docs_private/